* {
  box-sizing: border-box;
}
html {
  position: relative;
}
body {
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  background-color: rgb(242, 242, 242);
  padding: 0;

}
#check {
  display: none;
}
img {
  height: 50%;
  flex: 0 1 auto;
}
nav {
  display: flex;
  justify-content: space-around;
}
.sidebar {
  flex: 0 1 50%;
}
.sidebar ul {
   list-style-type: none;
   justify-content: space-between;
   margin: 0;
   display: flex;
   width: 70%;
   overflow: hidden;
 }
.sidebar ul li {
  padding: 0 3%;
}
a{
  text-decoration: none;
  text-align: center;
  color: white;
}
.main {
  background-image: url("images/image-hero-desktop.jpg");
  background-size: cover;
  padding: 3% 5% 20%;
  position: relative;
  height: 500px;
}
div {
  margin: 0;
}
p {
  font-size: 18px;
  color: hsl(0, 0%, 48%);
  font-weight: 500;
  margin: 0;
}
.back, .success-modal .finish {
  background-color: rgb(60, 180, 172);
  color: white;
  padding: 20px;
}
.hero-button, .success-modal .finish {
  border: none;
  border-radius: 100px;
  text-align: center;
  width: 220px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  outline: none !important;
}
.back:hover {
  outline: none !important;
  background-color: rgb(20, 123, 116);
}
.hero {
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
  width: 750px;
  background-color: white;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
}
.hero-content {
  padding-top:  3%;
}
.hero-clicks {
  display: flex;
  justify-content: space-between;
  padding: 60px;

}
.hero-logo {
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
}
.hero .bookmark img{
  height: initial;

}
.check-text label:hover h4 {
  color: rgb(60, 180, 172);
}
.bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 242, 242);
  padding: 0;
  padding-right: 30px;
  color: hsl(0, 0%, 48%);
  width: 180px;
}
.bookmark:hover {
  outline: none !important;
  background-color: rgb(242, 242, 242, 0.8);
  color: hsl(0, 0%, 48%, 0.8);
}
section {
  width: 750px;
  margin: 230px auto;
}
.stats {
  background-color: white;
  padding: 7% 5%;
  margin-bottom: 4%;
  border-radius: 8px;
}
.stats h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}
.stats-value {
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
  margin-bottom: 8%;
}
.middle-stat {
  padding: 0 10%;
  border-left: 2px solid rgb(242, 242, 242);
  border-right: 2px solid rgb(242, 242, 242);
}
.stats .stats-bar {
  position: relative;
  margin-top: 10px;
  width: 100%;
  background-color: #f2f2f2;
  height: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.stats .stats-bar .bar {
  position: absolute;
  border-radius: 10px;
  top: -2px;
  left: 0;
  height: 20px;
  background-color: rgb(60, 180, 172);
  width: 89.91%
}
.about {
  padding: 5% 7%;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 4%;
  line-height: 1;
}
.about h3:first-child {
  margin-bottom: 8%;
}
.about p {
  margin: 2% 0 5%;
  font-size: 15.7px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-weight: 400;
}
.about .pledge {
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  padding: 4%;
  margin-bottom: 4%;
}
.about .pledge .pledge-header ,.about .pledge .pledge-buttons {
  display: flex;
  justify-content: space-between;
}
.about .pledge .pledge-header p {
  color: rgb(60, 180, 172);
  font-weight: 500;
}
.about .pledge-buttons p {
  margin: 0;
}
.about .pledge-buttons span {
  color: black;
  font-size: 35px;
  font-weight: 600;
}
.about .pledge:last-child p {
  color: rgb(186, 186, 186);
  font-weight: 400;
}
.inactive {
  color: white;
  background-color:  rgb(186, 186, 186);
}
.about .pledge:last-child h3, .about .pledge:last-child p span {
  color: hsl(0, 0%, 48%);
}
.blur {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
}
.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  font-weight: 400;
  width: 750px;
  padding: 5%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: white;
}
.modal .close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 15px;
  width: 15px;
  background-image: url("images/icon-close-modal.svg");
  cursor: pointer;
}
.modal .modal-body .modal-check {
  margin: 4% 0 0;

}
.modal .modal-body .modal-check .check h4{
  margin: 0;
}
.modal .modal-body .modal-check .check, .modal .modal-body .modal-check .check-three {
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  margin-bottom: 4%;
}
.modal .modal-head-text p {
  color: black;
  font-weight: 400;
}
.modal  .check .first-check, .modal .check-three .first-check {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}
.modal .check .check-text, .modal .check-three .check-text {
  width: 90%;
}
.modal .check .check-text p, .modal .check-three .check-text p {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
  margin: 3% 0 0;
}
.modal .check input[type= "radio"], .modal .check-three input[type= "radio"] {
  height: 20px;
  width: 20px;
}
.modal .modal-pledge {
  padding: 4%;
  display: none;
  align-items: center;
  justify-content: space-between;
}
hr {
  border: 1px solid #f2f2f2;
}
.modal .modal-pledge p {
  font-size: 15px;

}
.modal .modal-pledge .modal-inputs .number:focus {
  border: 2px solid rgb(60, 180, 172);
  outline: none;

}
.modal .modal-pledge .modal-inputs .number {
  border-radius: 100px;
  font-family: var(--font-main-font);
  font-size: 15px;
  padding: 16px;
  width: 130px;
  color: black;
  border: 2px solid #f2f2f2;
  margin-right: 15px;
  text-align: center;
  font-weight: 700;
}
.hide {
  display: none !important;
}
.modal .check-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .check-title .title {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}
.modal .check .title p, .modal .check-three .title p {
  margin: 0 0 0 2%;
  color: rgb(60, 180, 172);
  font-weight: 500;
}
.modal .check .info span, .modal .check-three .info span {
  color: hsl(0, 0%, 48%);
  font-size: 35px;
  font-weight: 600;
}
.less-active {
  filter: grayscale(100%);
  opacity: 0.6;
}
.modal .modal-body .modal-check .modal-active {
  border: 2px solid rgb(60, 180, 172);
}
.success-modal {
  position: absolute;
  width: 40%;
  border-radius: 8px;
  margin: 0 auto;
  height: 18%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  top: 20vh;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 6%;
}
.success-modal .success-check {
  background-position: center;
  background-image: url("images/icon-check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
}
.success-modal .succes-text h3 {
  margin: 0 0 3%;
}
.success-modal .success-text p {
  font-size: 15px;
  font-weight: 400;
}
.stats-value hr {
  display: none;
}
.stats-value p {
  font-size: 17px;
  font-weight: 400;
}
.bookmark-one {
  display: none;
}
@media (max-width: 800px) {
  .modal, section, .hero {
    width: 90%;
    height: auto;
  }
}
@media (max-width: 600px) {
  #bookmark {
    display: none;
  }
  #back-button {
    width: 70%;
  }
  .bookmark-one {
    display: block;
    border-radius: 100px;
    border: none;
    background: none;
    outline: none !important;
  }
  .modal .modal-pledge {
    align-items: end;
  }
  .modal-inputs #continue {
    width: 90%;
    padding: 16px;
  }
  .modal .check-text .title {
    width: 60%;
  }
  .hamburger {
    background-image: url("images/icon-hamburger.svg");
    width: 22px;
    height: 15px;
  }
  .modal-inputs .number {
    margin: 0;
    margin-bottom: 20px;
  }
  .sidebar {
    display: flex;
    justify-content: flex-end;
  }
  .sidebar ul {
    display: none;
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    width: 80%;
    height: 150px;
    font-weight: 500;
    margin: 0 auto;
    background-color: white;
    border-radius: 12px;
    flex-direction: column;
    padding: 4%;
    text-align: left;
  }
  .sidebar ul li a {
    color: black;
  }

  .modal-inputs {
    align-items: center;
    flex-direction: column;
    width: 60%;
  }
  .hero-content {
    padding: 3% 8% 8%;
  }
  .hero-clicks {
    padding:  0 5% 5%;
  }
  .stats-value {
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
  }
  .stats-value .middle-stat {
    border: none;
    padding: 0;
  }
  .stats-vale h1 {
    margin-bottom: 10px;
  }
  .stats-value div {
    margin-bottom: 3%;
  }
  .stats-value hr {
    display: block;
    width: 30%;
    margin: 3% auto;
  }
}
@media (max-width: 600px) {
  .success-modal {
    width: 80%;
  }
}
@media (max-width: 300px) {
  .modal-inputs #continue {
    padding: 10px 16px;
  }
  .pledge-buttons {
    flex-direction: column;
  }
  .hero-button {
    width: 90%;
    padding: 12px;
  }
  .inactive{
    padding: 12px;
  }
}
